.react-calendar__tile--active{
    background-color: #7066ef;
    color: #FFF;
}

.price-input{
    border: 1px solid #7066ef;
}

.price-input:focus{
    outline: 2px solid#7066ef;
}

select{
    outline: none;
    border: none;
}